body
{
    background: url('./images/beans.jpg');

    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
*
{
    font-family: sans-serif;
}

.cent
{
    text-align: center;
}
.menu
{
   
    background-color: burlywood;
    margin: auto;
    width: 80%;
    max-width: 500px;
    padding: 20px;
}
.menu h1,h2
{
    font-family: "Impact", serif;
    text-align: center;

}
section
{
    width: 29px 0px;
}
hr
{
    background-color: brown;
    color:brown;
    border: 2px solid brown;
}
img
{
    height: 50px;
}
.item p
{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
.name 
{
    width: 69%;
}    
a
{
    color: black;
}
